output 'LG Display 0x07B5 0x0000FFA1' scale 2
output 'LG Display 0x07B5 0x0000FFA1' color_profile icc ../icc/LG07B5.icc

{{ if eq .theme "light" -}}
output * bg ~/.local/share/wallpaper/flatppuccin_4k_latte_mauve.png center
{{ else -}}
output * bg ~/.local/share/wallpaper/fw_cobalt2.png center
{{ end }}
