output * scale 1.5
output * color_profile icc ../icc/D50CA5.icc

{{ if eq .theme "light" -}}
output * bg ~/.config/sway/wallpaper/flatppuccin_4k_latte_mauve.png center
{{ else -}}
output * bg ~/.config/sway/wallpaper/fw_cobalt2.png center
{{ end }}
