{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $signingkey := promptStringOnce . "signingkey" "SSH Signing Key" -}}
{{- $theme := promptStringOnce . "theme" "light/dark Theme" -}}

[data]
  email = {{ $email | quote }}
  signingkey = {{ $signingkey | quote }}
  theme = {{ $theme | quote }}
