{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $signingkey := promptStringOnce . "signingkey" "SSH Signing Key" -}}

[data]
  email = {{ $email | quote }}
  signingkey = {{ $signingkey | quote }}
