#!/bin/zsh
eval "$(starship init zsh)"
eval "$(zoxide init zsh)"
export ATUIN_NOBIND="true"
eval "$(atuin init zsh)"

# My dotfiles
for i in $HOME/.zsh/*.zsh; do
  source "$i"
done

source ~/.zsh/plugins/autoquoter/zsh-autoquoter.zsh
ZAQ_PREFIXES=('git commit -m' 'gcm' 'gcmp' 'gacmp' 'chezmoi git commit -m' 'chgcm' 'chgacmp' 'chgcmp' 'ssh( -[^ ]##)# [^ -][^ ]#' 'sshnh( -[^ ]##)# [^ -][^ ]#')

source ~/.zsh/plugins/autopair/autopair.zsh
source ~/.zsh/plugins/history-substring-search/zsh-history-substring-search.zsh

zmodload zsh/terminfo
bindkey "$terminfo[kcuu1]" history-substring-search-up
bindkey "$terminfo[kcud1]" history-substring-search-down
bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down
bindkey '^r' atuin-search

source ~/.zsh/plugins/fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh
source ~/.zsh/plugins/you-should-use/you-should-use.plugin.zsh

typeset -U PATH
