#!/bin/zsh

export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CACHE_HOME="$HOME/.cache"

{{ if eq .chezmoi.os "darwin" -}}
export HOMEBREW_BUNDLE_DUMP_NO_VSCODE=true

if [[ -f /opt/homebrew/bin/brew ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

if [[ -S "$HOME/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh" ]]; then
  export SSH_AUTH_SOCK="$HOME/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh"
fi
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
if [[ -S $XDG_RUNTIME_DIR/gcr/ssh ]]; then
  export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/gcr/ssh"
fi
{{ end -}}

umask 022

set -o noclobber
setopt nobeep
setopt completeinword
setopt correct
setopt extended_glob
setopt hash_list_all
setopt interactivecomments
setopt noflowcontrol
setopt nonomatch
setopt noshwordsplit
setopt prompt_subst

{{ if eq .theme "light" -}}
export BAT_THEME="catppuccin-latte"
export GLAMOUR_STYLE="$HOME/.config/glamour/catppuccin-latte.json"
{{ else -}}
export BAT_THEME="cobalt2"
{{ end -}}
export EDITOR="nvim"
export SUDO_EDITOR="nvim"
export HISTFILE="${HOME}/.zsh_history"
export HISTIGNORE="&:ls:[bf]g:exit:reset:clear:cd:cd ..:cd.."
export HISTSIZE=25000
export LESS=-R
export PAGER="less -R"
export SAVEHIST=25000

setopt APPEND_HISTORY
setopt EXTENDED_HISTORY
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_NO_STORE
setopt HIST_REDUCE_BLANKS
setopt HIST_SAVE_NO_DUPS
setopt HIST_VERIFY
setopt INC_APPEND_HISTORY
setopt SHARE_HISTORY

export BUN_INSTALL="$HOME/.local/share/bun"
export GOBIN=$GOPATH/bin
export GOPATH=$HOME/.local/share/go

{{ if eq .chezmoi.os "linux" -}}
path="/usr/bin"
{{ end -}}
check_paths=("/usr/local/bin")
check_paths+="${GOBIN}"
check_paths+="${BUN_INSTALL}/bin"
check_paths+="${HOME}/.yarn/bin"
check_paths+="${HOME}/.cargo/bin"
check_paths+="${HOME}/bin"
check_paths+="${HOME}/.local/bin"
check_paths+="${HOME}/.krew/bin"
check_paths+="${HOME}/.local/share/node/bin"

for p in $check_paths; do
  if [[ -d "$p" ]]; then
    path+="$p"
  fi
done

typeset -U PATH
export PATH
