font-family = DejaVuSansM Nerd Font Mono
theme = catppuccin-latte.conf

window-decoration = none
shell-integration-features = no-cursor
command = "/opt/homebrew/bin/tmux new-session -ADs main"
font-size = 21
