{{- $colorscheme := ternary "catppuccin" "cobalt2" (eq (lower .theme) "light") -}}
{
  "$schema": "https://opencode.ai/config.json",
  "theme": "{{ $colorscheme }}",
  "model": "github-copilot/claude-haiku-4.5",
  "autoupdate": true,
  "lsp": {
    "custom-lsp": {
      "command": ["terraform-ls", "serve"],
      "extensions": [".tf", ".hcl", ".tfvars"]
    }
  }
}
