font-family = DejaVu Sans Mono
font-feature = -calt, -liga, -dlig
theme = catppuccin-latte
window-decoration = none
{{ if eq .chezmoi.os "darwin" -}}
command = "/opt/homebrew/bin/tmux new-session -ADs $(hostname -s)"
font-size = 21
{{ else  -}}
command = "tmux new-session -ADs $(hostname -s)"
font-size = 19
{{ end -}}
