{{ if eq .theme "light" -}}
text='#4c4f69'
textbg='#ccd0da'
iconbg='#ccd0da'
{{ else -}}
text='#ffffff'
textbg='#275D84'
iconbg='#275D84'
{{ end }}

ICON="<span foreground='$text' background='$iconbg'>"
TEXT="</span><span foreground='$text' background='$textbg'>"
BLOCK="<span foreground='$text' background='$textbg'>"
END="</span><span font='8'>  </span>"

function widget {
  if [ "$2" ]; then
    echo -e "${ICON} ${1} ${TEXT} ${2} ${END}"
  else
    echo -e "${BLOCK} ${1} ${END}"
  fi
}
