[Unit]
Description=Remove mt7922 module on sleep
Before=sleep.target

[Service]
Type=simple
ExecStart=-/usr/local/bin/mt7922-sleep.sh pre

[Install]
WantedBy=sleep.target
