terminal=ghostty
prompt="❯  "
width=40
font=DejaVuSansM Nerd Font:size=10
dpi-aware=yes

{{ if eq .theme "light" -}}
[colors]
background=eff1f5ff
text=4c4f69ff
prompt=5c5f77ff
placeholder=8c8fa1ff
input=4c4f69ff
match=8839efff
selection=acb0beff
selection-text=4c4f69ff
selection-match=8839efff
counter=8c8fa1ff
border=8839efff
{{ else -}}
[colors]
background=193549ff
text=f0f0f0ff
match=ffc600ff
selection-match=ffc600ff
selection=008ed4ff
selection-text=ffffffff
border=214561ff
{{ end -}}

[border]
width=4
radius=0
