{{ if eq .chezmoi.os "linux" -}}
format = """
$hostname \
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$fill\
$python
$character\
"""
{{- else }}
format = """
$hostname \
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$fill\
$python \
$gcloud \
$kubernetes\
$docker_context
$character\
"""
{{- end }}

right_format = """
$cmd_duration\
$status
"""

[directory]
truncation_length = 4

[cmd_duration]
format = '[$duration]($style) '
min_time = 5_000

[docker_context]
only_with_files = false
format = '[$context]($style) '

[fill]
symbol = ' '

[git_branch]
format = '[$branch]($style) '

[gcloud]
symbol = '️ 󱇶 '
format = '[$project]($style) '

[hostname]
format = '[$hostname]($style)'

[kubernetes]
disabled = false
format = '[$context]($style) '

[python]
format = '[${pyenv_prefix}(${version} )(\($virtualenv\) )]($style) '

[status]
disabled = false
format = '[$status]($style) '

[time]
disabled = false
format = '[$time]($style)'
