layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
              tab_normal "#[fg=#e6e9ef,bg=#7c7f93] {index} #[fg=#4c4f69,bg=#ccd0da] {name} "
              tab_active "#[fg=#dce0e8,bg=#8839ef] {index} #[fg=#4c4f69,bg=#bcc0cc] {name} "
              tab_separator "#[bg=#e6e9ef] "
              format_left "{tabs}"
              format_center ""
              format_right "#[fg=#4c4f69,bg=#e6e9ef]{session}"
              format_space "#[bg=#e6e9ef]"
            }
        }
    }
}
