[global]
    browser = qutebrowser
    dmenu = /usr/bin/rofi --show dmenu -p dunst:
    follow = mouse
    font = Noto Color Emoji 12, DejaVu Sans Mono 12
    history_length = 20
    indicate_hidden = yes
    markup = full
    word_wrap = yes
    format = "<b>%s</b>\n%b"
    ellipsize = middle
    ignore_newline = no
    stack_duplicates = true
    alignment = left
    ignore_dbusclose = false
    vertical_alignment = center
    offset = (4, 33)

{{ if eq .theme "light" -}}
[urgency_low]
background = "#e6e9ef"
foreground = "#4c4f69"

[urgency_normal]
background = "#e6e9ef"
foreground = "#4c4f69"

[urgency_critical]
background = "#e6e9ef"
foreground = "#4c4f69"
timeout = 0
{{ else -}}
[urgency_low]
background = "#214561"
foreground = "#ffffff"

[urgency_normal]
background = "#1F4662"
foreground = "#ffffff"

[urgency_critical]
background = "#ff0900"
foreground = "#ffffff"
timeout = 0
{{ end -}}
