[Unit]
Description=Low Battery Notification
# order startup after WM
After=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/local/bin/battery_notification.sh
Restart=always
RestartSec=2
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
