[Unit]
Description=Set display DPI
Before=vicinae.service
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xrandr --dpi 192
ExecStart=/usr/bin/xrandr -r 60
ExecStart=/usr/bin/xset b off
ExecStart=/usr/bin/xrdb -merge %h/.config/xorg/xresources
ExecStart=/usr/bin/brightnessctl s 20%
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
