[Unit]
Description=Picom Compositor
After=graphical-session.target

[Service]
Type=exec
ExecStart=picom
Restart=always
RestartSec=2
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
