[Unit]
Description=Auto lock screen
After=graphical-session.target

[Service]
Type=exec
ExecStart=xss-lock -l -s ${XDG_SESSION_ID} --  %h/.local/bin/screenlock
Restart=always
RestartSec=2
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
