font=DejaVuSansM Nerd Font 14
default-timeout=5000
icons=0

{{ if eq .theme "light" -}}
background-color=#eff1f5
text-color=#4c4f69
border-color=#8839ef
progress-color=over #ccd0da

[urgency=high]
border-color=#fe640b
{{ else -}}
background-color=#1F4662
text-color=#F0F0F0
border-color=#214561
progress-color=over #008ed4

[urgency=high]
border-color=#ff0900
{{ end }}
